body {
  margin: 0 auto;
  font-family: 'Courier New', Courier, monospace;
  max-width: 1000px;
  background-color: beige;
}

nav {
  display: flex;
  justify-content: end;
  background-color: aqua;
  padding: 5px 0px;
}

ul {
  display: flex;
  list-style-type: none;
  background-color: blanchedalmond;
  border: solid 3px gray;
  padding-left: 10px;
}

nav li {
  margin-right: 10px;
}

nav a {
  color: black;
  padding: 5px;
}
